* {
  box-sizing: border-box;
}
body {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
a {
	text-decoration: none;
}
.header {
	padding: 20px 70px 20px 32px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 99;
}
.menu-button {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;  
	width: 20px;
	height: 17px;
	border: none;
	margin-right: 28px;
	cursor: pointer;
}
.menu-line {
	display: block;
	width: 20px;
	height: 3px;
	background: #1F2022;
	border-radius: 20px;
}
.logo {
	margin-right: 60px;
}
.input-group {
	background: #EBEBEB;
	border-radius: 22px;
	display: flex;
	justify-content: space-between;
	padding-right: 17px;
	align-items: center;
	width: 50%;
	max-width: 830px;
	margin-right: 40px;
}
.input-search {
	background-color: transparent;
	border: none;
	padding: 12px 23px 12px 23px;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	color: #30384C;
	opacity: 0.4;
}
.button-search {
	width: 19px;
	height: 19px;
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
.icon-search {
	fill: #000;
}
.icons {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.icons-link {
	opacity: 0.24;
}
.icons-link:hover {
opacity: 0.7;	
}
.icons-link:not(:last-child) {
	margin-right: 50px;
}
.user {
	margin-left: 45px;
}
.user-avatar {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.sidebar {
	position: fixed;
	width: 200;
	left: 0;
	top: 114px;
	height: calc(100% - 114px);
	overflow-y: auto;
	padding-left: 32px;
	background: #fff;
}
.content {
	width: 100%;
	margin-top: 85px;
	padding-left: 250px;
	padding-top: 30px;
	/* overflow-x: hidden; */
	padding-right: 70px;
}
.nav-menu {
	list-style: none;
	margin-top: 0;
	margin-bottom: 60px;
	padding-left: 0;
}
.nav-item {
	margin-bottom: 29px;	
}
.nav-link {
	color:#898989; 
	display: flex;
	align-items: center;
}
.nav-link:hover {
	color: #ff0000;
}
.nav-link:hover .icon {
	fill: #ff0000;
}
.nav-item .icon {
	fill: #898989;
}
.nav-text {
	margin-left: 13px;
}
.nav-image {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}
.nav-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 30px;
}
.channel {
	position: relative;
	margin-bottom: 50px;
	/* width: 103%; */
}
.channel-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	padding-right: 1%;
}
.channel-title {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 26px;
	line-height: 33px;
	color: #19202C;
	margin-bottom: 30px;
}
.channel-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}
.video-thumb {
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-radius: 14px;
	position: relative;
}
.thumbnail {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.recommended-slider .video-thumb, 
.recommended-slider .thumbnail {
	height: 300px;
}

.video-duration {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: rgb(0,0,0,0.3);
	border-radius: 12px;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	padding: 3px 9px;
}
.video-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #19202C;
	margin-top: 10px;
	margin-bottom: 4px;
}
.video-info {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	line-height: 16px;
	color: #C2C2C2;
}
.video-counter {
	display: flex;
}
.video-views {
	margin-right: 5px;
}
.video-views::after {
	content: '';
	width: 2px;
	height: 2px;
	background-color: #C2C2C2;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.slider-buttons {
	position: absolute;
	right: 8%;
	top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 66px;
}
.chanel-button {
	cursor: pointer;
	opacity: 0.24;
}
.recommendeds {
	display: flex;
	/* position: relative; */
}
.channel-recommended {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #C2C2C2;
	margin-left: 19px;
}
.subscribe-button {
	background: #FF0000;
	border-radius: 20px;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	position: absolute;
	right: 15%;
	top: 10px;
	cursor: pointer;
}
.mobile-sidebar {
	display: none;
}
.mobile-search {
	display: none;
}
@media (max-width: 860px) {
	.icons {
		display: none;
	}
	.user {
		margin-left: auto;
	}
}
@media (max-width: 640px) {
	.swiper-wrapper {
		display: flex;
		flex-direction: column;
	}
	.swiper-slide {
		margin-bottom: 40px;
	}
	.video-thumb, .thumbnail {
		height: 300px;
	}
	.slider-buttons {
		display: none;
	}
	.menu-button {
		display: none;
	}
	.sidebar {
		display: none;
	}
	.content {
		padding-left: 32px;
	}
	.mobile-sidebar {
		display: block;
		position: fixed;
		z-index: 99;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
	}
	.mobile-sidebar .nav-link {
		display: flex;
		flex-direction: column;
	}
	.mobile-sidebar .nav-menu {
		margin-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-top: 13px;
		padding-bottom: 11px;
		border-top: 1px solid #f1f1f1;
	}
	.mobile-sidebar .nav-text {
		margin-left: 0;
		font-size: 10px;
	}
	.mobile-sidebar .nav-item {
		margin-bottom: 0;
	}
	.input-group {
		position: fixed;
		top: -100px;
		left: 0;
		opacity: 0;
		width: 68%;
		margin-left: 25px;
		transition: top 0.2s;

	}
	.input-group.is-open {
		opacity: 1;
		top: 20px;
	}
	.mobile-search {
		display: block;
		margin-left: auto;
	}
	.user {
		margin-left: 24px;
	}
}
